.container{
    display: flex;
    flex-flow: column wrap;
}

.topSection{
    display: flex;
    flex-flow: column wrap;
    justify-content:  center;
    padding: none;
    margin: none;
}

.leftSection{
    margin-top: 100px;
    width: 50%;
}

.rightSection{
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    align-self: flex-end;
    overflow: hidden;
}
.prodImg{
    display: inline-block;
    width: 100px;
}
.productInfo {
    font-size: 15pt;
}
.priceDetails{
    font-size: 15pt;
}
.deliveryDetails{
    font-size: 15pt;
}